[submodule "bundle/bundle/nerdtree"]
	path = bundle/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/vim-scripts/vim-gitgutter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "bundle/deoplete-nvim"]
	path = bundle/deoplete-nvim
	url = https://github.com/Shougo/deoplete.nvim.git
